.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 3rem;
  padding: 0;
}

.articlesItem-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: .2em;
}


.articlesItem-title {
  margin: 0 0 0 20px;
}

.articlesItem-date {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #333;
  font-size: 0.6em;
}
.am-list-body {
  position: relative;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0);
}

.buttonWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


